body {
  background-size: cover;
  background-color: #d9d9d9;
}
header {
  width: 100%;
  position: fixed; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 上部から配置の基準位置を決める */
}
.header1 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(50, 110, 201);
  padding: 10px; /*ヘッダーの余白を指定する(上下左右)*/
}
.Label1 {
  color: white;
}
.Labe2 {
  color: black;
}
.title {
  text-align: center;
  font-size: large;
  font-family: "Times";
  color: white;
}
.inputsetting {
  margin-left: 10px;
}
.startButton {
  margin-left: 20px;
  box-shadow: 2px 2px 2px black;
}
.header2 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(241, 243, 246, 0.922);
  margin-top: 5px;
  padding: 10px; /*ヘッダーの余白を指定する(上下左右)*/
}

#buttonContainer button {
  margin-right: 5px;
}
.header3 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(241, 243, 246, 0.922);
  margin-top: 5px;
  padding: 10px; /*ヘッダーの余白を指定する(上下左右)*/
}

.wrapOfList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  margin-left: 5%;
  margin-right: 5%;
}
#meetingTitle {
  text-align: center;
}
#statementList {
  text-align: center;
}
#statementListTitle {
  text-align: center;
}
.statementGroup {
  padding-left: 15px;
  width: 80%;
  height: 95%;
  background-color: whitesmoke;
  border: solid 1px black;
  border-radius: 8px;
  font-size: large;
}
.LabelEnd {
  color: white;
  margin-left: 60px;
}
.endButton {
  margin-left: 20px;
  box-shadow: 2px 2px 2px black;
}
button {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px black;
}
button.selected {
  background-color: black;
  color: white;
  box-shadow: 1px 1px 1px black;
}
